@import '../../../root';

.firstBloc {
    display: flex;
    justify-content: space-between;
    background-color: $primary_color;
    height: fit-content;

    .firstImage,
    .secondImage {}

    .bloc {
        display: flex;
        flex-direction: column;
        // align-items: center;
        padding: 50px 20px 0px 20px;
        width: 40%;
        color: #fff;



        .title {
            font-size: 3em;
            font-weight: bold;
            text-align: center
        }

        p {
            padding: 50px 0px 0px 0px;
            font-size: 1.2em;

            .zenefy {
                font-size: 1.5em;
                font-weight: bold;
            }
        }
    }

}