@import '../../root';

.connexion {
    position: fixed;
    top: 0;
    height: 90%;
    width: 90%;
    margin-left: 5%;
    margin-top: 2.5%;
    color: white;
    z-index: 2;

    .box {
        width: 25%;
        height: fit-content;
        background-color: $primary_color;
        border-radius: 10px;
        padding: 50px;

        .logo {
            margin: 0 auto;
            margin-bottom: 30px;
        }

        .form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            input {
                background-color: $primary_color;
                border: 1px solid white;
                border-radius: 7px;
                padding: 10px;
            }

            button {
                margin: auto;
                width: 60%;
            }
        }

        .footer_connexion {
            display: flex;
            justify-content: center;
            margin: 20px 0px 0px 0px;

            .buttonPartenaire {}

            .buttonGold:hover {
                background-image: $background_gold_gradient;
                transition: background-image 0.3s ease-in-out;
            }
        }
    }
}