@import '../../root';
@import "../../breakpoints/breakpoints.scss";

.connexion {

    .box {
        @include media('<=LGDesktop') {
            width: 33%;
        }

        @include media('<=desktop') {
            width: 50%;
        }

        @include media('<=tablet') {
            width: 60%;
        }

        @include media('<=phone') {
            h1 {
                font-size: 1.5em;
            }

            width: 80%;
        }
    }
}

.buttonGold {
    font-size: 0.8em !important;
}