@import '../../root';
@import "./burger";

.header {
    background-color: $primary_color !important;

    .menu {
        h1 {
            color: #ffff !important;
        }

        .mid_side {
            border: 2px solid #ffff !important;

            select.activite {
                border-right: 2px solid #ffff !important;
                color: #fff !important;
                background-color: $primary_color !important;
            }

            .lieu {
                color: #fff !important;
                background-color: $primary_color !important;
            }

            .search {
                background-color: #ffff !important;

                i {
                    color: $primary_color !important;
                }
            }
        }

        .right_side {
            background-color: #ffff !important;

            .burger-icon {
                @include burger(25px, 3px, 5px, $primary_color !important);
            }

            .menu-button.is-active .burger-icon {
                @include burger-to-cross;
            }
        }
    }

    .menu_mobile {
        .top_side {
            color: #fff !important;

            .right_side {
                background-color: #fff !important;

                .burger-icon {
                    @include burger(25px, 3px, 5px, $primary_color !important);
                }

                .menu-button-mobile.is-active .burger-icon {
                    @include burger-to-cross;
                }
            }
        }

        .bot_side {
            border: 2px solid #fff !important;

            .activite {
                border-right: 2px solid #fff !important;
                color: #ffff !important;
            }

            .lieu {
                color: #ffff !important;
            }

            .search {
                background-color: #ffff !important;

                i {
                    color: $primary_color !important;
                }
            }
        }
    }
}

.logo[src*="/images/logo_blanc.png"]  {
    background-image: url('/images/logo_blanc.png') !important;
}