@import '../../root';
@import "./burger";

.header {
    width: 100%;
    background-color: white;

    .menu_mobile {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 40px 10px 40px;

        .logo {
        }

        .mid_side {
            display: flex;
            align-items: center;
            border: 2px solid $primary_color;
            border-radius: 50px;
            padding: 10px 10px 10px 40px;


            select.activite {
                border: none;
                border-right: 2px solid $primary_color;
                outline: none;
                color: $primary_color;
                font-weight: bold;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-repeat: no-repeat;
                background-position: right .7em top 50%;
                padding-right: 1.5em;
                font-size: 16px;
                text-align: center;


                option {
                    text-align: center;
                }
            }

            .lieu {
                padding: 0px 65px 0px 20px;
                color: $primary_color;
            }

            .search {
                background-color: $primary_color;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    color: white;
                }
            }
        }

        .right_side {
            cursor: pointer;
            width: fit-content;
            background-color: $primary_color;
            padding: 10px 10px 10px 10px;
            border-radius: 10px;

            .burger-icon {
                @include burger(25px, 3px, 5px, #ffffff);
            }

            .menu-button.is-active .burger-icon {
                @include burger-to-cross;
            }


        }
    }

    .popUpMenu {
        display: none;
    }

    .popUpMenuBlock {
        display: block;
        background-color: #fff;
        color: $primary_color;
        position: absolute;
        border-radius: 20px;
        top: 7%;
        right: 2%;
        height: fit-content;
        width: fit-content;
        border: 1px solid grey;
        z-index: 2;

        .item_1 {
            padding: 10px 40px 10px 20px;
        }

        .item_2 {
            padding: 10px 0px 10px 20px;
        }

        .item_3 {
            padding: 10px 0px 10px 20px;
            border-top: 1px solid grey;
            border-bottom: 1px solid grey;
            background-image: $background_gold_gradient;
        }

        .item_4 {
            padding: 10px 0px 10px 20px;
        }

        .item_5 {
            padding: 10px 0px 10px 20px;
        }
    }

    .popUpZenefy {
        display: none;
    }

    .popUpZenefyBlock {
        display: block;
        background-color: #fff;
        color: $primary_color;
        border-radius: 20px;
        height: fit-content;
        width: 100%;
        border: 1px solid grey;
        // padding: 10px 40px 10px 20px;


        .item_1_zenefy {
            padding: 10px 40px 10px 20px;
        }

        .item_2_zenefy {
            padding: 10px 0px 10px 20px;
        }

        .item_3_zenefy {
            padding: 10px 0px 10px 20px;
            border-radius: 20px;
            background-image: $background_gold_gradient;
            border: 1px solid grey;
        }

        .item_4_zenefy {
            border-radius: 20px;

            padding: 10px 0px 10px 20px;
        }
    }
}