@import '../../root';

.swiper {
    width: 100%;
    height: auto !important;
    margin: 30px 0px 30px 0px;

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: $primary_color;
        color: white;

        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 50px;

        p {
            margin-bottom: 20px;
            font-weight: bolder;
        }

        img {
            display: block;
            width: auto;
            height: 20vh !important;
            object-fit: cover;
            border-radius: 50px;
        }
    }
}