@import '../../../root';

.second_bloc {
    background-color: #fff;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 2.3em;
        font-weight: bold;
        color: $primary_color;
        margin: 40px 0px 50px 0px;
        text-align: center;
    }

    .button_join_us {
        background-color: $primary_color;
        text-align: center;
        color: white;
        width: 20%;
        border-radius: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
        height: 5vh;
        font-size: 1.5em;
    }
}

.swiper {
    width: 100%;
    height: 100%;
    // margin-top: 20px;

    .swiper-slide {

        img {
            display: block;
            // width: 100%;
            // height: 100%;
            object-fit: cover;
            border-radius: 50px;
            background-color: white !important;
        }
    }
}