@import '../../root';


.footer {
    background-color: #fff;

    .footer_normal {
        display: flex;
        justify-content: space-between;
        width: 75%;
        margin: auto;
        color: $primary_color;
        font-size: 1.2em;
        padding: 20px 0px 20px 0px;

        div {
            h1 {
                font-weight: bold;
                margin-bottom: 10px;
            }
        }
    }

    @media (max-width: 670px) {

        .footer_mobile {
            display: block !important;
            margin: 0 auto !important;
        }

        .list_footer {
            text-align: center;
            padding: 0;
        }

    }
}