@import '../../root';


.footer {
    background-color: #fff;

    .footer_normal {
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 75%;
        margin: auto;
        color: $primary_color;
        font-size: 1.2em;
        padding: 20px 0px 20px 0px;

        div {
            h1 {
                padding: 10px 0px 10px 0px;
                font-weight: bold;
            }
        }
    }

    @media (max-width: 670px) {

        .footer_mobile {
            display: block !important;
            gap: 20px;
        }

        .list_footer {
            padding: 0px 0px 15px 0px !important;
            text-align: center;
        }

    }
}

.logo {
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
}