$primary_color: #0E1C41;

$background_gold_gradient: radial-gradient(circle farthest-side, #ffe091, #f8b500);

body {
    width: 100%;
    height: fit-content;
    overflow-x: hidden !important;
    color: #fff;
}

.color_primary {
    color: $primary_color;
}